In [1]:
import numpy as np
import pandas as pd
import sklearn

In [2]:
data = pd.read_csv('../ml_club/data/cryptoasssets/bitcoin.csv', sep=';')

In [3]:
data.head()

         Date     Open     High      Low    Close      Volume     MarketCap
0  22/11/2017  8077.95  8302.26  8075.47  8253.55  3633530000  134851000000
1  21/11/2017  8205.74  8348.66  7762.71  8071.26  4277610000  136967000000
2  20/11/2017  8039.07  8336.86  7949.36  8200.64  3488450000  134167000000
3  19/11/2017  7766.03  8101.91  7694.10  8036.49  3149320000  129595000000
4  18/11/2017  7697.21  7884.99  7463.44  7790.15  3667190000  128425000000

In [4]:
data['MarketCap'].describe()

count    1.670000e+03
mean     1.369657e+10
std      2.117795e+10
min      7.792550e+08
25%      3.775548e+09
50%      6.601560e+09
75%      1.074598e+10
max      1.369670e+11
Name: MarketCap, dtype: float64

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
data_train, data_test = train_test_split(data, test_size=0.33)

In [7]:
data_train.corr()

               Open      High       Low     Close    Volume  MarketCap
Open       1.000000  0.999295  0.999205  0.998655  0.900706   0.999302
High       0.999295  1.000000  0.998975  0.999416  0.907097   0.998554
Low        0.999205  0.998975  1.000000  0.999359  0.893145   0.998681
Close      0.998655  0.999416  0.999359  1.000000  0.900084   0.998013
Volume     0.900706  0.907097  0.893145  0.900084  1.000000   0.903110
MarketCap  0.999302  0.998554  0.998681  0.998013  0.903110   1.000000

In [8]:
import matplotlib as plt
import seaborn as sns

In [9]:
corr_matrix = data_train.corr()

In [10]:
sns.heatmap(corr_matrix)

    -  не отрисовывается heatmap корреляционной матрицы, но и так видно, что признаки высокоскоррелированы:   
    гипотеза про растущий рынок, которая подтверждается (рост всех параметров)

### добавим новые признаки

In [11]:
data_train.describe()

,Open,High,Low,Close,Volume,MarketCap
count,1118.000000,1118.000000,1118.000000,1118.000000,1.118000e+03,1.118000e+03
mean,895.987343,923.078971,873.071664,902.101682,2.812021e+08,1.396877e+10
std,1296.138993,1346.045262,1263.214954,1314.796559,7.163825e+08,2.177630e+10
min,68.500000,75.000000,65.530000,68.430000,0.000000e+00,7.792550e+08
25%,271.405000,277.715000,267.217500,273.712500,1.539100e+07,3.886582e+09
50%,457.300000,462.520000,448.195000,456.705000,3.858105e+07,6.618715e+09
75%,751.807500,765.235000,735.835000,750.920000,1.024448e+08,1.110090e+10
max,8205.740000,8348.660000,8075.470000,8253.550000,8.957350e+09,1.369670e+11

In [32]:
data_train['open_close_diff'] = data_train['Open'] - data_train['Close']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [14]:
data_train['high_low_diff'] = data_train['High'] - data_train['Low']
data_train.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Date,Open,High,Low,Close,Volume,MarketCap,open_close_diff,high_low_diff
1603,03/07/2013,90.41,90.98,76.98,77.53,0,1027160000,12.88,14.00
940,27/04/2015,219.43,233.31,218.02,229.29,38574000,3093200000,-9.86,15.29
641,20/02/2016,421.60,441.98,421.60,437.16,93992100,6421310000,-15.56,20.38
684,08/01/2016,457.54,462.93,447.94,453.23,56993000,6888600000,4.31,14.99
1004,22/02/2015,244.54,246.39,233.85,235.98,19527000,3390510000,8.56,12.54

**получили новые столбцы   
отсортируем их по дате**

In [35]:
data_train.head()
data_train.sort_index(ascending=False)

,Date,Open,High,Low,Close,Volume,MarketCap,open_close_diff,high_low_diff
1669,28/04/2013,135.30,135.98,132.10,134.21,0,1500520000,1.09,3.88
1668,29/04/2013,134.44,147.49,134.00,144.54,0,1491160000,-10.10,13.49
1665,02/05/2013,116.38,125.60,92.28,105.21,0,1292190000,11.17,33.32
1659,08/05/2013,109.60,115.78,109.60,113.57,0,1219450000,-3.97,6.18
1658,09/05/2013,113.20,113.46,109.26,112.67,0,1259980000,0.53,4.20
1657,10/05/2013,112.80,122.00,111.55,117.20,0,1255970000,-4.40,10.45
1656,11/05/2013,117.70,118.68,113.01,115.24,0,1311050000,2.46,5.67
1654,13/05/2013,114.82,118.70,114.50,117.98,0,1279980000,-3.16,4.20
1653,14/05/2013,117.98,119.80,110.25,111.50,0,1315720000,6.48,9.55
1649,18/05/2013,123.50,125.25,122.30,123.50,0,1379140000,0.00,2.95
1648,19/05/2013,123.21,124.50,119.57,121.99,0,1376370000,1.22,4.93
1646,21/05/2013,122.02,123.00,121.21,122.88,0,1363940000,-0.86,1.79
1642,25/05/2013,133.10,133.22,128.90,131.98,0,1489950000,1.12,4.32
1641,26/05/2013,131.99,136.00,130.62,133.48,0,1478030000,-1.49,5.38
1639,28/05/2013,129.77,130.58,125.60,129.00,0,1454310000,0.77,4.98
1638,29/05/2013,129.00,132.59,127.66,132.30,0,1446190000,-3.30,4.93
1636,31/05/2013,128.80,129.90,126.40,129.00,0,1445050000,-0.20,3.50
1635,01/06/2013,128.81,129.78,127.20,129.30,0,1445800000,-0.49,2.58
1634,02/06/2013,129.30,129.40,115.05,122.29,0,1451930000,7.01,14.35
1632,04/06/2013,120.74,123.84,119.10,121.42,0,1357020000,-0.68,4.74
1630,06/06/2013,121.90,123.10,117.25,118.00,0,1371300000,3.90,5.85
1629,07/06/2013,118.97,119.00,106.42,111.50,0,1338880000,7.47,12.58
1628,08/06/2013,111.00,111.42,107.30,108.30,0,1249630000,2.70,4.12
1626,10/06/2013,100.44,110.10,95.00,106.35,0,1131570000,-5.91,15.10
1625,11/06/2013,106.35,109.60,104.00,108.90,0,1198640000,-2.55,5.60
1623,13/06/2013,108.78,110.30,100.53,104.00,0,1227030000,4.78,9.77
1622,14/06/2013,103.95,104.70,98.00,99.98,0,1173060000,3.97,6.70
1621,15/06/2013,100.00,103.70,98.00,99.99,0,1128950000,0.01,5.70
1618,18/06/2013,101.95,111.11,101.03,107.40,0,1152250000,-5.45,10.08
1617,19/06/2013,107.05,110.22,105.75,108.25,0,1210260000,-1.20,4.47
...,...,...,...,...,...,...,...,...,...
39,14/10/2017,5643.53,5837.70,5591.64,5831.79,1669030000,93803000000,-188.26,246.06
37,16/10/2017,5687.57,5776.23,5544.21,5725.59,2008070000,94559000000,-38.02,232.02
35,18/10/2017,5603.82,5603.82,5151.44,5590.69,2399270000,93190200000,13.13,452.38
34,19/10/2017,5583.74,5744.35,5531.06,5708.52,1780540000,92867000000,-124.78,213.29
33,20/10/2017,5708.11,6060.11,5627.23,6011.45,2354430000,94947900000,-303.34,432.88
32,21/10/2017,5996.79,6194.88,5965.07,6031.60,2207100000,99763200000,-34.81,229.81
30,23/10/2017,6006.00,6075.59,5732.47,5930.32,2401840000,99941600000,75.68,343.12
29,24/10/2017,5935.52,5935.52,5504.18,5526.64,2735700000,98781600000,408.88,431.34
28,25/10/2017,5524.60,5754.33,5397.88,5750.80,1966990000,91954200000,-226.20,356.45
27,26/10/2017,5747.95,5976.80,5721.22,5904.83,1905040000,95685100000,-156.88,255.58
26,27/10/2017,5899.74,5988.39,5728.82,5780.90,1710130000,98225400000,118.84,259.57
25,28/10/2017,5787.82,5876.72,5689.19,5753.09,1403920000,96369600000,34.73,187.53
24,29/10/2017,5754.44,6255.71,5724.58,6153.85,2859040000,95819800000,-399.41,531.13
23,30/10/2017,6114.85,6214.99,6040.85,6130.53,1772150000,101833000000,-15.68,174.14
22,31/10/2017,6132.02,6470.43,6103.33,6468.40,2311380000,102130000000,-336.38,367.10
21,01/11/2017,6440.97,6767.31,6377.88,6767.31,2870320000,107287000000,-326.34,389.43
18,04/11/2017,7164.48,7492.86,7031.28,7379.95,2483800000,119376000000,-215.47,461.58
17,05/11/2017,7404.52,7617.48,7333.19,7407.41,2380410000,123388000000,-2.89,284.29
15,07/11/2017,7023.10,7253.32,7023.10,7144.38,2326340000,117056000000,-121.28,230.22
14,08/11/2017,7141.38,7776.42,7114.02,7459.69,4602200000,119041000000,-318.31,662.40
13,09/11/2017,7446.83,7446.83,7101.52,7143.58,3226250000,124146000000,303.25,345.31
10,12/11/2017,6295.45,6625.05,5519.01,5950.07,8957350000,104980000000,345.38,1106.04
9,13/11/2017,5938.25,6811.19,5844.29,6559.49,6263250000,99029000000,-621.24,966.90
8,14/11/2017,6561.48,6764.98,6461.75,6635.75,3197110000,109434000000,-74.27,303.23
7,15/11/2017,6634.76,7342.25,6634.76,7315.54,4200880000,110667000000,-680.78,707.49
4,18/11/2017,7697.21,7884.99,7463.44,7790.15,3667190000,128425000000,-92.94,421.55
3,19/11/2017,7766.03,8101.91,7694.10,8036.49,3149320000,129595000000,-270.46,407.81
2,20/11/2017,8039.07,8336.86,7949.36,8200.64,3488450000,134167000000,-161.57,387.50
1,21/11/2017,8205.74,8348.66,7762.71,8071.26,4277610000,136967000000,134.48,585.95
0,22/11/2017,8077.95,8302.26,8075.47,8253.55,3633530000,134851000000,-175.60,226.79

#### Попробуем теперь запустить первую модель

####  добавим новый признак:   
     *разница между open последующих дат*

In [36]:
# data_train['open_delta_abs'] = data_train.apply(lambda x: 
#                                                 data_train['Open'].iloc[1:] - 
#                                                 data_train['Open'].iloc[:-1])    #строчка минус след за ней строчка