In [9]:
import numpy as np
import pandas as pd
import sklearn

In [6]:
data = pd.read_csv('../ml_club/data/cryptoasssets/bitcoin.csv', sep=';')

In [14]:
data.head()

         Date     Open     High      Low    Close      Volume     MarketCap
0  22/11/2017  8077.95  8302.26  8075.47  8253.55  3633530000  134851000000
1  21/11/2017  8205.74  8348.66  7762.71  8071.26  4277610000  136967000000
2  20/11/2017  8039.07  8336.86  7949.36  8200.64  3488450000  134167000000
3  19/11/2017  7766.03  8101.91  7694.10  8036.49  3149320000  129595000000
4  18/11/2017  7697.21  7884.99  7463.44  7790.15  3667190000  128425000000

In [15]:
data['MarketCap']

count    1.670000e+03
mean     1.369657e+10
std      2.117795e+10
min      7.792550e+08
25%      3.775548e+09
50%      6.601560e+09
75%      1.074598e+10
max      1.369670e+11
Name: MarketCap, dtype: float64

In [16]:
from sklearn.model_selection import train_test_split

In [18]:
data_train, data_test = train_test_split(data, test_size=0.33)

In [21]:
data_train.corr()

               Open      High       Low     Close    Volume  MarketCap
Open       1.000000  0.999193  0.999121  0.998432  0.918201   0.999309
High       0.999193  1.000000  0.998909  0.999369  0.925655   0.998461
Low        0.999121  0.998909  1.000000  0.999275  0.913240   0.998687
Close      0.998432  0.999369  0.999275  1.000000  0.920373   0.997864
Volume     0.918201  0.925655  0.913240  0.920373  1.000000   0.920592
MarketCap  0.999309  0.998461  0.998687  0.997864  0.920592   1.000000

In [38]:
import matplotlib as plt
import seaborn as sns

In [41]:
corr_matrix = data_train.corr()

In [45]:
sns.heatmap(corr_matrix)

In [50]:
data_train['open_close_diff'] = data_train['Open'] - data_train['Close']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [51]:
data_train['open_close_diff'].head()

1316    -5.21
1022     0.66
473    -12.75
385    -10.76
345    -10.05
Name: open_close_diff, dtype: float64

In [53]:
data_train['high_low_diff'] = data_train['High'] - data_train['Low']
data_train.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Date,Open,High,Low,Close,Volume,MarketCap,open_close_diff,high_low_diff
1316,16/04/2014,522.18,542.38,502.78,527.39,56480100,6606460000,-5.21,39.60
1022,04/02/2015,227.51,230.06,221.11,226.85,26594300,3138700000,0.66,8.95
473,06/08/2016,575.03,588.40,569.47,587.78,80797300,9083510000,-12.75,18.93
385,02/11/2016,730.07,740.83,722.35,740.83,84865200,11647200000,-10.76,18.48
345,12/12/2016,770.04,781.92,770.04,780.09,76571000,12349800000,-10.05,11.88